
<footer class="footer">

  <p class="footer-motto" style="color: white; font-weight: bold;"><i class="fa fa-fort-awesome" aria-hidden="true"></i> Ready to get busy @-@ <i class="fa fa-fort-awesome" aria-hidden="true"></i>
  </p>


</footer>

<!-- js files -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>
